<section id="hero" class="hero-section">
    <img src="building.png" alt="Pandigi Building" class="building-image"
        [@slideInRight]="buildingVisible ? 'visible' : 'hidden'">

    <nav class="navbar-floating" [@navbarSlide]="navbarVisible ? 'visible' : 'hidden'">
        <div class="navbar-container">
            <div class="navbar-logo">
                <img src="logo.png" alt="Pandigi Logo" (click)="navigateToOtherPage('/')">
            </div>
            <ul class="navbar-menu">
                <li><a (click)="navigateToOtherPage('/')">WHAT WE DO</a></li>
                <li><a (click)="scrollToSection('hero')">WHO WE ARE</a></li>
                <li><a (click)="navigateToOtherPage('/')">OUR WORK</a></li>
                <li><a (click)="navigateToOtherPage('/build')">BUILD WITH US</a></li>
            </ul>
        </div>
    </nav>

    <div id="hero-text" class="hero-content">
        <h1 id="hero-title" class="hero-title" [@slideInLeft]="buildingVisible ? 'visible' : 'hidden'">{{ heroTitle }}
        </h1>
        <p class="hero-subtitle" [@slideInLeft]="buildingVisible ? 'visible' : 'hidden'">{{ heroSubtitle }}</p>
        <img [src]="heroVector" alt="Pandigi Logo" class="hero-logo" loading="lazy"
            [@fadeInUp]="buildingVisible ? 'visible' : 'hidden'">
    </div>
</section>


<section id="services" class="section services" [@fadeInUp]="servicesVisible ? 'visible' : 'hidden'">
    <div class="full-container">
        <h2 class="section-title">What we offer?</h2>
        <div class="services-grid">
            <div class="service-card" *ngFor="let service of services" (click)="scrollToSection(service.sectionId)">
                <div class="service-image">
                    <img [src]="service.icon" [alt]="service.title">
                </div>
                <div class="service-content">
                    <h3>{{ service.title }}</h3>
                    <p class="text-justify">{{ service.description }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="software" class="service-section">
    <div class="full-container">
        <h2 class="section-title">
            Software Service
        </h2>
        <div class="service-section-container">
            <div class="service-section-image">
                <img src="dummy-photo.png" alt="">
            </div>
            <div class="service-section-content">
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque officiis odit minima quisquam ut voluptatum maiores tempora vero harum quis repellat necessitatibus dignissimos sunt sapiente, ipsa delectus est libero quod provident consectetur eum temporibus dolore et? Maxime nulla laudantium corrupti vel omnis fugit aliquid
                </p>
                <a class="cta-button" (click)="navigateToOtherPage('build')">
                    Build with us
                </a>
            </div>
        </div>
    </div>
</section>

<section id="hardware" class="service-section">

</section>

<section id="multimedia" class="service-section">

</section>

<section id="computer" class="service-section">

</section>

<section id="contact" class="section contact" [@fadeInUp]="contactVisible ? 'visible' : 'hidden'">
    <div class="full-container">
        <div class="contact-grid">
            <div class="contact-info">
                <h2 class="section-title">Get in touch with us</h2>
                <div class="contact-item">
                    <h3>Phone</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="contact-item">
                    <h3>Email</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="contact-item">
                    <h3>Social</h3>
                </div>
                <div class="social-links">
                    <a href="#" class="social-icon"></a>
                    <a href="#" class="social-icon"></a>
                    <a href="#" class="social-icon"></a>
                </div>
            </div>
            <div class="contact-logo">
                <img src="logo-text.png" alt="Pandigi Text" class="logo-text">
            </div>
        </div>
    </div>
</section>