<section id="hero" class="hero-section">
    <img src="building.png" alt="Pandigi Building" class="building-image"
        [@slideInRight]="buildingVisible ? 'visible' : 'hidden'">

    <nav class="navbar-floating" [@navbarSlide]="navbarVisible ? 'visible' : 'hidden'">
        <div class="navbar-container">
            <div class="navbar-logo">
                <img src="logo-no-bg.png" alt="Pandigi Logo" (click)="navigateToOtherPage('/')">
            </div>
            <ul class="navbar-menu">
                <li><a (click)="scrollToSection('hero')" class="active">WHAT WE DO</a></li>
                <li><a (click)="navigateToOtherPage('/who-we-are')">WHO WE ARE</a></li>
                <li><a (click)="navigateToOtherPage('/our-work')">OUR WORK</a></li>
                <li><a (click)="navigateToOtherPage('/build')">BUILD WITH US</a></li>
            </ul>
        </div>
    </nav>

    <div id="hero-text" class="hero-content">
        <h1 id="hero-title" class="hero-title" [@slideInLeft]="buildingVisible ? 'visible' : 'hidden'">What We Do
        </h1>
        <p class="hero-subtitle" [@slideInLeft]="buildingVisible ? 'visible' : 'hidden'">Discover our services and how we can help you achieve your goals.</p>
        <img src="vector_logo_pandigi.png" alt="Pandigi Logo" class="hero-logo" loading="lazy">
    </div>
</section>


<section id="services" class="section services" [@fadeInUp]="servicesVisible ? 'visible' : 'hidden'">
    <div class="full-container">
        <h2 class="section-title">What we offer?</h2>
        <div class="services-grid">
            <div class="service-card" (click)="scrollToSection('software')">
                <div class="service-image">
                    <img src="software-wwd.png" alt="software-icon">
                </div>
                <div class="service-content">
                    <h3>Software</h3>
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="service-card" (click)="scrollToSection('hardware')">
                <div class="service-image">
                    <img src="hardware-wwd.png" alt="hardware-icon">
                </div>
                <div class="service-content">
                    <h3>Hardware</h3>
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="service-card" (click)="scrollToSection('multimedia')">
                <div class="service-image">
                    <img src="media-wwd.png" alt="multimedia-icon">
                </div>
                <div class="service-content">
                    <h3>Multimedia</h3>
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="service-card" (click)="scrollToSection('computer')">
                <div class="service-image">
                    <img src="computer-wwd.png" alt="computer-icon">
                </div>
                <div class="service-content">
                    <h3>Computer</h3>
                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="service-wrapper">
    <section id="software" class="service-section" [@fadeInUp]="sectionStates['software'] ? 'visible' : 'hidden'">
        <div class="full-container">
            <h2 class="section-title">
                Software Service
            </h2>
            <div class="service-section-container">
                <div class="service-section-image" [@slideInRight]="sectionStates['software'] ? 'visible' : 'hidden'">
                    <img src="dummy-photo.png" alt="">
                </div>
                <div class="service-section-content" [@slideInUp]="sectionStates['software'] ? 'visible' : 'hidden'">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <a class="cta-button" (click)="navigateToOtherPage('build')">
                        Build with us
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="hardware" class="service-section" [@fadeInUp]="sectionStates['hardware'] ? 'visible' : 'hidden'">
        <div class="full-container">
            <h2 class="section-title">
                Hardware Service
            </h2>
            <div class="service-section-container">
                <div class="service-section-image" [@slideInLeft]="sectionStates['hardware'] ? 'visible' : 'hidden'">
                    <img src="dummy-photo.png" alt="">
                </div>
                <div class="service-section-content" [@slideInUp]="sectionStates['hardware'] ? 'visible' : 'hidden'">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <a class="cta-button" (click)="navigateToOtherPage('build')">
                        Build with us
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="multimedia" class="service-section" [@fadeInUp]="sectionStates['multimedia'] ? 'visible' : 'hidden'">
        <div class="full-container">
            <h2 class="section-title">
                Multimedia Service
            </h2>
            <div class="service-section-container">
                <div class="service-section-image" [@slideInRight]="sectionStates['multimedia'] ? 'visible' : 'hidden'">
                    <img src="dummy-photo.png" alt="">
                </div>
                <div class="service-section-content" [@slideInUp]="sectionStates['multimedia'] ? 'visible' : 'hidden'">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <a class="cta-button" (click)="navigateToOtherPage('build')">
                        Build with us
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section id="computer" class="service-section" [@fadeInUp]="sectionStates['computer'] ? 'visible' : 'hidden'">
        <div class="full-container">
            <h2 class="section-title">
                Computer Service
            </h2>
            <div class="service-section-container">
                <div class="service-section-image" [@slideInLeft]="sectionStates['computer'] ? 'visible' : 'hidden'">
                    <img src="dummy-photo.png" alt="">
                </div>
                <div class="service-section-content" [@slideInUp]="sectionStates['computer'] ? 'visible' : 'hidden'">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                    <a class="cta-button" (click)="navigateToOtherPage('build')">
                        Build with us
                    </a>
                </div>
            </div>
        </div>
    </section>
</div>

<section id="contact" class="section contact" [@fadeInUp]="contactVisible ? 'visible' : 'hidden'">
    <div class="full-container">
        <div class="contact-grid">
            <div class="contact-info">
                <h2 class="section-title">Get in touch with us</h2>
                <div class="contact-item">
                    <h3>Phone</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="contact-item">
                    <h3>Email</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
                <div class="contact-item">
                    <h3>Social</h3>
                </div>
                <div class="social-links">
                    <a href="#" class="social-icon"></a>
                    <a href="#" class="social-icon"></a>
                    <a href="#" class="social-icon"></a>
                </div>
            </div>
            <div class="contact-logo">
                <img src="logo-text.png" alt="Pandigi Text" class="logo-text">
            </div>
        </div>
    </div>
</section>