<div class="toast-panel">
  <div 
    *ngFor="let toast of toasts" 
    class="toast-item"
    [ngClass]="[toast.type, toast.closing ? 'closing' : '']"
  >
    <div class="toast" [ngClass]="toast.type">
      
      <button 
        type="button"
        class="close"
        (click)="removeToast(toast.id)"
      ></button>

      <h3>{{ toast.title }}</h3>
      <p [innerHTML]="toast.message"></p>

      <!-- Confirm button -->
      <div class="toast-actions" *ngIf="toast.confirm">
        <button
          type="button"
          class="btn cancel"
          (click)="acceptConfirm(toast, false, $event)"
        >
          Cancel
        </button>

        <button
          type="button"
          class="btn ok"
          (click)="acceptConfirm(toast, true, $event)"
        >
          OK
        </button>
      </div>

    </div>
  </div>
</div>